 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

 body {
    font-family: Arial, sans-serif;
    background-image: url(imgs/caderno.avif);

}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

form {
    display: flex;
    gap: 10px;
}

input[type="text"], select {
    flex: 1;
    padding: 5px;
}

button {
    background-color: rgba(112, 12, 112, 0.767);
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.completed {
    text-decoration: line-through;
    color: #999;
}
 

 
